<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="formbody">
    <div class="formtitle"><span>修改密码</span></div>
    	<form id = "from">
		    <ul class="forminfo">
			    <li><label>旧密码</label><input id="oldPassword" name="oldPassword" type="password" class="dfinput" /><i></i></li>
			    <li><label>新密码</label><input id="password" name="password" type="password" class="dfinput" /><i></i></li>
			    <li><label>确认密码</label><input id="conPassword" name="conPassword" type="password" class="dfinput" value="" /></li>
			    <li><label>&nbsp;</label><input type="button" class="btn" value="确认保存" onclick="if(chek()) submitForm('/admin/user/passWord','from');" /></li>
		    </ul>
	    </form>
    </div>
    <script src="/back/js/jquery.js" language="JavaScript" ></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
    <script src="/back/js/base.js"></script>
    <script type="text/javascript">
		function chek(){
			var parameter = ["oldPassword","password","conPassword"];
			var type = [null,null,null];
			var msg = ["旧密码不能为空！","新密码不能为空！","确认密码不能为空！"];
			return validation(parameter,type,msg);
		}
	</script>
</body>
</html>
