<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
 <link rel="stylesheet" href="plugins/layer/mobile/need/layer.css">
</head>
<body>
    <script src="/model/lib/jquery/jquery.js"></script>
    <!-- 弹窗js -->
        <script src="/plugins/layer/layer.js"></script>
    <script type="text/javascript">
	    $(document).ready(function () {
	    	layer.alert("对不起,您没有此操作权限!");
	    });
	</script>
</body>
</html>
