<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="com.domain.admin.mapper.AdminRolemoduleMapper">
 <!-- 添加  (#{id},#{moduleId},#{roleId})-->
<insert id="savaRoleModule" parameterType="java.util.List">
	insert into admin_roleModule(id,moduleId,roleId)
	values
	<foreach collection="list" item="item" index="index" separator="," > 
        (#{item.id},#{item.moduleId},#{item.roleId}) 
    </foreach> 
</insert>


</mapper>