<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统配置管理</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="/admin/systemconfig/query">系统配置</a></li>
		</ul>
	</div>

	<div class="rightinfo">

		<div class="tools">

			<ul class="toolbar">
				<li class="click" onclick="showPage('/admin/systemconfig/insert','70%','70%','添加配置')"><span><img src="/back/images/t01.png" /></span>添加</li>
				<!-- <li class="click"><span><img src="/back/images/t02.png" /></span>修改</li>
				<li><span><img src="/back/images/t03.png" /></span>删除</li>
				<li><span><img src="/back/images/t04.png" /></span>统计</li> -->
			</ul>
			<ul class="toolbar1">
				<li class="click" onclick="location.replace(location.href);"><span><img src="/back/images/t05.png" /></span>刷新</li>
			</ul>
		</div>

		<form action="/admin/systemconfig/query"  id="from">
			<ul class="seachform">
			    <li><label>配置名称</label><input placeholder="输入名称" value="${map.displayName!''}" name="displayName" type="text" class="scinput" /></li>
			    <li><label>配置键</label><input placeholder="输入键" value="${map.configKey!''}" name="configKey" type="text" class="scinput" /></li>
			    <li><button type="button" class="scbtn" onclick="formSubmit(this,'from');" value="查询">查询</button></li>
		    </ul>
	    </form>

		<table class="tablelist">
			<thead>
				<tr>
					<th width="25" onclick="selectAll('moduleIds',3);"><input type="checkbox" /></th>
					<th>键值ID</th>
					<th>显示名称</th>
					<th>配置键</th>
					<th>配置值</th>
					<th>配置描述</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			
				<#list list as entity >
					<tr>
						<td><input type="checkbox" id="moduleIds" name="moduleIds" value="${entity.id?c}" /></td>
						<td>
							${entity.id?c}
						</td>
						<td>${entity.displayName!''}</td>
						<td>${entity.configKey!''}</td>
						<td>${entity.configValue!''}</td>
						<td>${entity.description!''}</td>
						<td>
						
							<#if (entity.isReadOnly!0)==0>
								<a class="tablelink" title="编辑" href="javascript:showPage('/admin/systemconfig/update?id=${entity.id?c}','70%','70%','系统管理-编辑（${entity.displayName!''}）)');" >
		 							编辑</a>  
							</#if>
							<#if (entity.id!0) gt 30>
								 -- <a class="tablelink"  href="javascript:systemconfig_del(this,'${entity.id?c}');" title="删除">删除</a>
							</#if>
				            
						</td>
					</tr>
				</#list>
			</tbody>
		</table>
		${pageInfo!}
	</div>
	
	<script src="/back/js/jquery.js" language="JavaScript" ></script>
	<script type="text/javascript" src="/back/js/select-ui.min.js"></script>
	<script type="text/javascript" src="/back/js/base.js"></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
	<script type="text/javascript">
	
		/*-删除*/
		function systemconfig_del(obj,id){
			layer.confirm('确认要删除吗？删除将不可恢复',{icon:2},function(index){
				$.post("/admin/systemconfig/delete?from=ajax", {'id': id },
			     function(result) {
			    	 jsonState(result);
			    },'json');
			});
		}
	</script>
</body>
</html>
