<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆管理</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
<#setting datetime_format="yyyy-MM-dd HH:mm:ss"/>
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="/admin/car/list">车辆管理</a></li>
		</ul>
	</div>

	<div class="rightinfo">
		<!--<div class="tools">-->
			<!--<ul class="toolbar">-->
				<!--<li class="click" onclick="showPage('/admin/store/add','70%','70%','网点添加')"><span><img src="/back/images/t01.png" /></span>添加</li>-->
			<!--</ul>-->
		<!--</div>-->
		<form action="/admin/car/list"  id="from">
			<ul class="seachform">
			    <li><label>手机号</label><input placeholder="手机号" value="${phone!''}" name="phone" type="text" class="scinput" /></li>
			    <li><button type="button" class="scbtn" onclick="formSubmit(this,'from');" value="查询">查询</button></li>
		    </ul>
	    </form>
		<form id="commentForm">
		<table class="tablelist">
			<thead>
				<tr>
					<th><input type="checkbox" onclick="selectAll('comments');"/></th>
					<th >手机号</th>
					<th >正前图片</th>
					<th >左前图片</th>
					<th >右前图片</th>
					<th >左侧图片</th>
					<th >右侧图片</th>
					<th >正后图片</th>
					<th >操作</th>
				</tr>
			</thead>
			<tbody>
				<#list list as entity >
					<tr>
						<td><input type="checkbox" name="ids" value="${entity.id!''}" /></td>
				        <td>
							<#if (phoneSee!0) == 1>
								${entity.phone!'暂没绑定'}
							<#else > ${(entity.phone!'18888888888')?replace(((entity.phone!'18888888888')?substring(3,7)),'****')}
							</#if>
						</td>
				        <td align="center">
							<img src="${entity.faceUrl!''}" width="160" height="90" alt=""/>
				        </td>
						<td align="center">
							<img src="${entity.leftAnteriorUrl!''}" width="160" height="90" alt=""/>
						</td>
						<td align="center">
							<img src="${entity.rightAnteriorUrl!''}" width="160" height="90" alt=""/>
						</td>
						<td align="center">
							<img src="${entity.leftUrl!''}" width="160" height="90" alt=""/>
						</td>
						<td align="center">
							<img src="${entity.rightUrl!''}" width="160" height="90" alt=""/>
						</td>
						<td align="center">
							<img src="${entity.backUrl!''}" width="160" height="90" alt=""/>
						</td>
				        <td>
			 				<a class="tablelink" href="javascript:showPage('/admin/car/info?id=${entity.id?c}','70%','70%','')" title="详情">详情</a>
			 				<!--<a class="tablelink" href="javascript:showPage('/admin/store/storeUpdate?id=${entity.id?c}','70%','70%','网点编辑-${entity.storeName!''}')" title="编辑">编辑</a>-->
				        </td>
					</tr>
				</#list>
			</tbody>
		</table>
		</form>
		${pageInfo!}
	</div>
	
	<script src="/back/js/jquery.js" language="JavaScript" ></script>
	<script type="text/javascript" src="/back/js/select-ui.min.js"></script>
	<script type="text/javascript" src="/back/js/base.js"></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
	<script type="text/javascript">
	$(document).ready(function(e) {
	    $(".select1").uedSelect({
			width : 100			  
		});
	});
	
	/*独立-删除*/
	function comment_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.post("/admin/comment/delete?from=ajax", {'ids': id },
			    function(result) {
			    	jsonState(result);
			    },'json');
		});
	}
	/* 条件删除数据 */
	function delete_tiaojian(){
		layer.confirm('确认要条件删除这些数据吗？',function(index){
			$.post("/admin/comment/delete?from=ajax",$("#from").serialize(),
			    function(result) {
					jsonState(result);
			    },'json');
		});
	}
	</script>
</body>
</html>
