<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎登录后台管理系统 - 刘钢</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #1c77ac; background-image: url(/back/images/light.png); background-repeat: no-repeat; background-position: center top; overflow: hidden;">
	<div id="mainBody">
		<div id="cloud1" class="cloud"></div>
		<div id="cloud2" class="cloud"></div>
	</div>
	<div class="logintop">
		<span>欢迎登录后台管理平台</span>
		<ul>
			<li><a href="/">回首页</a></li>
			<li><a href="javascript:layer.alert('有任何帮助请联系本站管理人员');">帮助</a></li>
			<li><a href="#">关于</a></li>
		</ul>
	</div>
	<div class="loginbody">
		<span class="systemlogo"></span>
		<div class="loginbox">
			<ul>
				<li>
					<input type="text" class="loginuser" placeholder="账号" />
				</li>
				<li>
					<input type="password" class="loginpwd" placeholder="密码" />
				</li>
				
				<li>
					<!-- onclick="javascript:window.location='main.html'" -->
					<input type="button" class="loginbtn" value="登录"  />
					<label><input id="checkedTo" type="checkbox" value="1" />记住密码</label>
					<label><a href="javascript:layer.alert('请联系管理员');">忘记密码？</a></label>
				</li>
			</ul>
		</div>
	</div>
	<div class="loginbm">liuGang</div>
	
	<script src="/back/js/jquery.js" language="JavaScript" ></script>
	<script src="/back/js/cloud.js" type="text/javascript"></script>
	 <script language="JavaScript" src="/back/js/jquery.cookie.js"></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
    <!-- login.js -->
	<script src="/admin/login/login.js" type="text/javascript"></script>
    
    <script language="javascript">
		$(function() {
			$('.loginbox').css({
				'position' : 'absolute',
				'left' : ($(window).width() - 692) / 2
			});
			$(window).resize(function() {
				$('.loginbox').css({
					'position' : 'absolute',
					'left' : ($(window).width() - 692) / 2
				});
			})
		});
	</script>
</body>
</html>
