<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网点管理</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
<#setting datetime_format="yyyy-MM-dd HH:mm:ss"/>
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="/admin/store/list">网点管理</a></li>
		</ul>
	</div>

	<div class="rightinfo">
		<div class="tools">
			<ul class="toolbar">
				<li class="click" onclick="showPage('/admin/store/add','70%','70%','网点添加')"><span><img src="/back/images/t01.png" /></span>添加</li>
			</ul>
		</div>
		<form action="/admin/store/list"  id="from">
			<ul class="seachform">
			    <li><label>网点名称</label><input placeholder="网点名称" value="${name!''}" name="name" type="text" class="scinput" /></li>
			    <li><label>网点位置</label><input placeholder="网点位置" value="${address!''}" name="address" type="text" class="scinput" /></li>
				<li><label>网点单数</label><input placeholder="网点单数" value="${count!''}" id="count" name="count" type="text" class="scinput" /></li>
			    <li><button type="button" class="scbtn" onclick="check(this,'from');" value="查询">查询</button></li>
		    </ul>
	    </form>
		<form id="commentForm">
		<table class="tablelist">
			<thead>
				<tr>
					<th><input type="checkbox" onclick="selectAll('comments');"/></th>
					<th >网点名称</th>
					<th >网点电话</th>
					<th >网点图片</th>
					<th >网点位置</th>
					<th >网点分类</th>
					<th >网点单数</th>
					<th >操作</th>
				</tr>
			</thead>
			<tbody>
				<#list list as entity >
					<tr>
						<td><input type="checkbox" name="ids" value="${entity.id!''}" /></td>
				        <td>${entity.storeName!''}</td>
				        <td>
								${entity.storePhone!''}
						</td>
				        <td align="center">
							<img src="${entity.storeImg!''}" width="320" height="180" alt=""/>
				        </td>
				        <td>
							${entity.storeAddress!''}
						</td>
						<td>
							<#if (entity.storeType!'') == 0>天天洗车
							<#else>划痕无忧
							</#if>
						</td>
						<td>
							${entity.orderCount!0}
						</td>
				        <td>
			 				<a class="tablelink" href="javascript:showPage('/admin/store/storeInfo?id=${entity.id?c}','70%','70%','网点详情-${entity.storeName!''}')" title="详情">详情</a> |
			 				<a class="tablelink" href="javascript:showPage('/admin/store/storeUpdate?id=${entity.id?c}','70%','70%','网点编辑-${entity.storeName!''}')" title="编辑">编辑</a>
				        </td>
					</tr>
				</#list>
			</tbody>
		</table>
		</form>
		${pageInfo!}
	</div>
	
	<script src="/back/js/jquery.js" language="JavaScript" ></script>
	<script type="text/javascript" src="/back/js/select-ui.min.js"></script>
	<script type="text/javascript" src="/back/js/base.js"></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
	<script type="text/javascript">
	$(document).ready(function(e) {
	    $(".select1").uedSelect({
			width : 100			  
		});
	});
	
	function check(obj,id) {
		var count = $("#count").val();
		if (count != '' && !Digit(count)) {
            layer.msg("请输入数字！");
            $("#count").focus();
            return ;
		}
        formSubmit(obj,id);
    }


	</script>
</body>
</html>
