<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>修改网点</title>
	<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
	<link href="/back/js/kindeditor/themes/qq/qq.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="formbody">
	<div class="formtitle"><span>基本信息</span></div>
	<form id = "from">
		<ul class="forminfo">
			<li><label>网点名称<b>*</b>:</label><input maxlength="15" type="text" value="${entity.storeName!''}" class="dfinput" id="storeName" name="storeName"/><i>最长不能超过15个字符</i></li>
			<li><label>网点电话<b>*</b>:</label><input maxlength="15" type="text" value="${entity.storePhone!''}" class="dfinput" id="storePhone" name="storePhone"/><i>最长不能超过15个字符</i></li>
			<li><label>网点位置<b>*</b>:</label><input maxlength="15" type="text" value="${entity.storeAddress!''}"class="dfinput" id="storeAddress" name="storeAddress"/><i>最长不能超过15个字符</i></li>
			<li><label>网点类型<b>*</b>:</label><div class="vocation">
				<select class="dfinput" id="isDelete" name="type" style="opacity:1;" >
					<option value="0" <#if (entity.storeType!'')==0> selected="selected" </#if> >天天洗车</option>
					<option value="1" <#if (entity.storeType!'')==1> selected="selected" </#if> >划痕无忧</option>
				</select>
				</div>
				</li>
			<li><label>图片<b>*</b></label>
				<div align="center">
					<img src="${entity.storeImg!''}" id="images_test" alt="" height="360;" width="640;"/>
				</div>
			</li>
			<li>
				<input type="hidden" value="${entity.id!''}" name="id" />
				<input type="hidden" value="${entity.storeImg!''}"  class="dfinput" id="banner_url" name="storeImg" placeholder="这里是图片路径" />
				<input name="" type="button"  onclick="create_image('banner_url','images_test')" class="btn" value="上传图片" />
				<label>&nbsp;</label><input type="button" class="btn" value="确认" onclick="if(chek()) sub();" />
			</li>
		</ul>
	</form>
</div>
<script src="/back/js/jquery.js" language="JavaScript" ></script>
<script type="text/javascript" src="/back/js/select-ui.min.js"></script>
<script type="text/javascript" src="/back/js/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/back/js/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="/back/js/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript" src="/back/js/kindeditor/kindeditor-base.js"></script>
<!-- 弹窗js -->
<script src="/back/js/layer/layer.js"></script>
<script src="/back/js/base.js"></script>
<script type="text/javascript" src="/back/js/My97DatePicker/WdatePicker.js"></script>
<script src="/back/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(e) {
        create_textarea('content7');
    });
    function chek(){
        var parameter = ["storeName","storePhone","storePhone","storeAddress","banner_url","banner_url"];
        var type = [null,null,"PHONE",null,"Image",null];
        var msg = ["网点名称不能为空！","网点电话不能为空","电话号码格式不对！","网点地址不能为空！","上传的文件不是图片格式","图片文件不能为空！"];
        return validation(parameter,type,msg);
    }
    function sub(){
        submitForm('/admin/store/storeUpdate','from');
    }

</script>
</body>
</html>
