<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加模块信息</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    	<form id = "from">
		    <ul class="forminfo">
		    	<#if map.pay_dispose==1>
			    	<li><label>退款方式</label>
				    	<div class="vocation">
						    <select class="select3" name="pay_way">
							    <option value="0" selected="selected" >未支付</option>
							    <option value="1">微信支付</option>
							    <option value="2">支付宝支付</option>
							    <option value="3">第三方支付</option>
							    <option value="4">其他方式</option>
						    </select>
					    </div>
			    	</li>
		    	</#if>
			    <li><label>退款说明</label>
			    	<input type="hidden" name="user_id" value="${map.user_id!''}" />
			    	<input type="hidden" name="Id" value="${map.Id!''}" />
			    	<input type="hidden" name="pay_dispose" value="${map.pay_dispose}" />
			    	<textarea id="explain" name="explain" rows="3" cols="100" class="textinput" ><#if map.pay_dispose==1>退款成功<#else>退款失败</#if></textarea>
			    </li>
			    <li><label>&nbsp;</label><input type="button" class="btn" value="确认" onclick="if(chek()) submitForm('/adminBack/payRefund/update','from');" /></li>
		    </ul>
	    </form>
    </div>
    <script src="/back/js/jquery.js" language="JavaScript" ></script>
    <script type="text/javascript" src="/back/js/select-ui.min.js"></script>
    
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
    <script src="/back/js/base.js"></script>
    <script type="text/javascript">
	    $(document).ready(function(e) {
			$(".select3").uedSelect({
				width : 100
			});
		});
    
		function chek(){
			var parameter = ["explain"];
			var type = [null];
			var msg = ["说明不能为空！"];
			return validation(parameter,type,msg);
		}
	</script>
</body>
</html>
