<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加模块信息</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    	<form id = "from">
		    <input type="hidden" name="parentId" value="${parentId?c}"/>
		    <ul class="forminfo">
			    <li><label>模块名称<b>*</b></label><input maxlength="15" id="name" name="name" type="text" class="dfinput" /><i>名称请控制在5个字以内</i></li>
			    <li><label>模块地址</label><input id="url" name="url" type="text" class="dfinput" /><i>如：admin/module</i></li>
			    <li><label>模块排序</label>
			    	<div class="vocation">
					    <select class="select3" name="sort">
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6" selected="selected">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="10">10</option>
					    </select>
				    </div>
			    </li>
			    <li><label>是否隐藏</label>
			    	<div class="vocation">
					    <select class="select3" name="isHide">
						    <option value="2">是</option>
						    <option value="1" selected="selected">否</option>
					    </select>
				    </div>
			    </li>
			    <li><label>模块图标</label><input id="moduleImage" name="moduleImage" type="text" class="dfinput" value="" /></li>
			    <li><label>模块描述</label>
			    	<textarea id="description" name="description" rows="3" cols="100" class="textinput" ></textarea>
			    </li>
			    <li><label>&nbsp;</label><input type="button" class="btn" value="确认" onclick="if(chek()) submitForm('/admin/module/insert','from');" /></li>
		    </ul>
	    </form>
    </div>
    <script src="/back/js/jquery.js" language="JavaScript" ></script>
    <script type="text/javascript" src="/back/js/select-ui.min.js"></script>
    
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
    <script src="/back/js/base.js"></script>
    <script type="text/javascript">
	    $(document).ready(function(e) {
			$(".select3").uedSelect({
				width : 100
			});
		});
    
		function chek(){
			var parameter = ["name"];
			var type = [null];
			var msg = ["模块名称不能为空！"];
			return validation(parameter,type,msg);
		}
	</script>
</body>
</html>
