<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>角色信息</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    	<form id = "from">
    		<input type="hidden" name="encryptionId" value="${adminRole.encryptionId!''}"/>
		    <ul class="forminfo">
			    <li><label>角色名称<b>*</b></label><input value="${adminRole.name!''}" maxlength="15" id="name" name="name" type="text" class="dfinput" /><i>名称请控制在10个字以内</i></li>
			    <li><label>角色描述</label>
			    	<textarea id="description" name="description" rows="3" cols="100" class="textinput" >${adminRole.description!''}</textarea>
			    </li>
			    <li><label>&nbsp;</label><input type="button" class="btn" value="确认" onclick="if(chek()) submitForm('/admin/role/edit','from');" /></li>
		    </ul>
	    </form>
    </div>
    <script src="/back/js/jquery.js" language="JavaScript" ></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
    <script src="/back/js/base.js"></script>
    <script type="text/javascript">
		function chek(){
			var parameter = ["name"];
			var type = [null];
			var msg = ["角色名称不能为空！"];
			return validation(parameter,type,msg);
		}
	</script>
</body>
</html>
