<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>添加广告位</title>
	<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
	<link href="/back/js/kindeditor/themes/qq/qq.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="formbody">
	<div class="formtitle"><span>基本信息</span></div>
	<form id = "from">
		<ul class="forminfo">
			<li>
				<div align="center">
					<img src="" id="images_test" alt="" height="360;" width="640;"/>
				</div>
			</li>
			<li><label>图片<b>*</b></label>
				<input type="hidden" class="dfinput" id="banner_url" name="path" placeholder="这里是图片路径" />
				<input name="" type="button"  onclick="create_image('banner_url','images_test')" class="btn" value="上传图片" />
			</li>
			<li><label>&nbsp;</label><input type="button" class="btn" value="确认" onclick="if(chek()) sub();" /></li>
		</ul>
	</form>
</div>
<script src="/back/js/jquery.js" language="JavaScript" ></script>
<script type="text/javascript" src="/back/js/select-ui.min.js"></script>
<script type="text/javascript" src="/back/js/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/back/js/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="/back/js/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript" src="/back/js/kindeditor/kindeditor-base.js"></script>
<!-- 弹窗js -->
<script src="/back/js/layer/layer.js"></script>
<script src="/back/js/base.js"></script>
<script type="text/javascript" src="/back/js/My97DatePicker/WdatePicker.js"></script>
<script src="/back/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(e) {
        create_textarea('content7');
    });
    //
    // function content7(){
    //     alert($('#content7').val());
    // }
    $(document).ready(function(e) {
        $(".select3").uedSelect({
            width : 200
        });
    });
    function chek(){
        var parameter = ["banner_url","banner_url"];
        var type = ["Image",null];
        var msg = ["上传的文件不是图片格式","图片文件不能为空！"];
        return validation(parameter,type,msg);
    }
    function sub(){
        submitForm('/admin/img/advertInsert','from');
    }

</script>
</body>
</html>
