<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广告位管理</title>
<link href="/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/back/css/select.css" rel="stylesheet" type="text/css" />
	<#setting datetime_format="yyyy-MM-dd HH:mm:ss"/>
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="/admin/img/advert">广告位管理</a></li>
		</ul>
	</div>

	<div class="rightinfo">
		<div class="tools">
			<ul class="toolbar">
				<li class="click" onclick="showPage('/admin/img/advertInsert','70%','70%','文章添加')"><span><img src="/back/images/t01.png" /></span>添加</li>
			</ul>
		</div>
		<!--<form action="/admin/article/list"  id="from">-->
			<!--<ul class="seachform">-->
			    <!--<li><label>状态</label>-->
			    	<!--<div class="vocation">-->
					    <!--<select class="select1" id="isDelete" name="type">-->
					   		<!--<option value="0">全部</option>-->
					   		<!--<#if (type!0) == 1>-->
					   			<!--<option value="1" selected="selected">划痕无忧</option>-->
					   		<!--<#else>-->
					   			<!--<option value="1" >划痕无忧</option>-->
					   		<!--</#if>-->
					   		<!--<#if (type!0) == 2>-->
					   			<!--<option value="2" selected="selected">天天洗车</option>-->
					   		<!--<#else>-->
					   			<!--<option value="2" >天天洗车</option>-->
					   		<!--</#if>-->
							<!--<#if (type!0) == 3>-->
								<!--<option value="3" selected="selected">会员协议</option>-->
							<!--<#else>-->
								<!--<option value="3" >会员协议</option>-->
							<!--</#if>-->
							<!--<#if (type!0) == 4>-->
							<!--<option value="4" selected="selected">车友群介绍</option>-->
							<!--<#else>-->
							<!--<option value="4" >车友群介绍</option>-->
							<!--</#if>-->
							<!--<#if (type!0) == 5>-->
							<!--<option value="5" selected="selected">道路抢险</option>-->
							<!--<#else>-->
							<!--<option value="5" >道路抢险</option>-->
							<!--</#if>-->
							<!--<#if (type!0) == 6>-->
							<!--<option value="6" selected="selected">代办车贷</option>-->
							<!--<#else>-->
							<!--<option value="6" >代办车贷</option>-->
							<!--</#if>-->
					    <!--</select>-->
				    <!--</div>-->
			    <!--</li>-->
			    <!--<li><button type="button" class="scbtn" onclick="formSubmit(this,'from');" value="查询">查询</button></li>-->
		    <!--</ul>-->
	    <!--</form>-->
		<form id="userId">
		<table class="tablelist">
			<thead>
			<tr>
				<th><input type="checkbox" onclick="selectAll('userId');"/></th>
				<th >图片名称</th>
				<th >图片类型</th>
				<th >缩略图</th>
				<th>创建时间</th>
				<th >操作</th>
			</tr>
			</thead>
			<tbody>
			<#list list as entity >
			<tr>
				<td><input type="checkbox" name="userId" value="${entity.id!''}" /></td>
				<td>${entity.imgName!''}</td>
				<td>
					<#if (entity.imgType!'') == 0>广告位
					</#if>
				</td>
				<td align="center">
					<img src="${entity.imgUrl!''}" width="320" height="180" alt=""/>
				</td>
				<td>${entity.createTime?number_to_datetime}</td>
				<td>
					<a class="tablelink" href="javascript:showPage('/admin/img/imgInfo?id=${entity.id?c}','70%','70%','详情')" title="详情">详情</a>  |
					<a class="tablelink" href="javascript:showPage('/admin/img/update?id=${entity.id?c}','70%','70%','编辑')" title="编辑">编辑</a>  |
					<a class="tablelink" href="javascript:img_del('/admin/img/imgDelete','${entity.id!0}')" title="编辑">删除</a>

				</td>
			</tr>
			</#list>
			</tbody>
		</table>
		</form>
		${pageInfo!}
	</div>
	
	<script src="/back/js/jquery.js" language="JavaScript" ></script>
	<script type="text/javascript" src="/back/js/select-ui.min.js"></script>
	<script type="text/javascript" src="/back/js/base.js"></script>
	<!-- 弹窗js -->
    <script src="/back/js/layer/layer.js"></script>
	<script type="text/javascript">
		$(document).ready(function(e) {
		    $(".select1").uedSelect({
				width : 100			  
			});
		});

        /*删除*/
        function img_del(obj,id){
            layer.confirm('确认要删除吗？',{icon:2},function(index){
                $.post(obj+"?from=ajax", {'id': id },
                    /*  function(result) {processJson(result) */
                    function(result) {
                        jsonState(result);
                    },'json');
            });
        }
	
	
	</script>
</body>
</html>
